<div class="hand-block">
  <div class="container">
    <div class="hand-block__main">
      <div class="hand-block__content hand-content">
        <div class="hand-content__title">
          Делись своими знаниями и зарабатывай
          <span class="hand-content__title-green">зарабатывай</span>
        </div>
        <div class="hand-block__bg-mobile">
          <img src="../../img/hand-bg-mobile.png" alt="" />
        </div>
        <div class="hand-content__text">
          Беслпатно размести свои курсы на Edwica, продвигай их, получай
          дополнительный доход
        </div>
        <a href="#" class="hand-content__link">Перейти в раздел</a>
      </div>
      <div class="hand-block__bg"></div>
    </div>
  </div>
</div>
