<div class="rocket-block">
  <div class="container">
    <div class="rocket-block__main">
      <div class="rocket-block__content rocket-content">
        <div class="rocket-content__title">
          Построй свою карьерную траекторию
          <span class="rocket-content__title-yellow">бесплатно!</span>
        </div>
        <div class="rocket-content__text">Построй подробный поэтапный план по достижению желаемой должности с персональной подборкой образовательных материлаов</div>
        <a href="#" class="rocket-content__link">Подробнее</a>
      </div>
      <div class="rocket-block__bg">
      </div>
      <div class="rocket-block__bg-mobile">
        <img src="../../img/rocket-bg-mobile.png" alt="">
      </div>
    </div>
  </div>
</div>
