<section class="articles">
    <div class="container">
        <div class="row mb-3">
            <div class="col-sm-12 section_title">
                <h2 class="h2 section_title__left">Полезные статьи</h2>
                <a href="" class="btn-place section_title__right">Перейти в раздел</a>
            </div>
        </div>
        <div id="usefull-article" class="owl_wrapper">
            <div class="owl-carousel owl-theme">
                <div class="article-item">
                    <div class="article-item__header">
                            <img src="/img/article-item_1.svg" alt="">
                    </div>
                        <div class="cat_markers">
                        <div class="cat_marker__item red">Менеджмент</div>
                    </div>
                    <div class="article-item__content">
                        <a href=""><h2 class="h2">8 лайфхаков для запуска продукта паралельно работе</h2></a>
                        <p>Как запустить свой продукт, если с 9 до 6 ты на работе? Рассказывает директор по продукту «Альфа-Банка»</p>
                        <span><img src="/img/clock.svg" alt="">12 февраля 2021</span>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__header">
                            <img src="/img/article-item_2.svg" alt="">
                    </div>
                        <div class="cat_markers">
                        <div class="cat_marker__item red">Менеджмент</div>
                    </div>
                    <div class="article-item__content">
                        <h2 class="h2">8 лайфхаков для запуска продукта паралельно работе</h2>
                        <p>Как запустить свой продукт, если с 9 до 6 ты на работе? Рассказывает директор по продукту «Альфа-Банка»</p>
                        <span><img src="/img/clock.svg" alt="">12 февраля 2021</span>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__header">
                            <img src="/img/article-item_3.svg" alt="">
                    </div>
                        <div class="cat_markers">
                        <div class="cat_marker__item red">Менеджмент</div>
                    </div>
                    <div class="article-item__content">
                        <h2 class="h2">8 лайфхаков для запуска продукта паралельно работе</h2>
                        <p>Как запустить свой продукт, если с 9 до 6 ты на работе? Рассказывает директор по продукту «Альфа-Банка»</p>
                        <span><img src="/img/clock.svg" alt="">12 февраля 2021</span>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__header">
                            <img src="/img/article-item_3.svg" alt="">
                    </div>
                        <div class="cat_markers">
                        <div class="cat_marker__item red">Менеджмент</div>
                    </div>
                    <div class="article-item__content">
                        <h2 class="h2">8 лайфхаков для запуска продукта паралельно работе</h2>
                        <p>Как запустить свой продукт, если с 9 до 6 ты на работе? Рассказывает директор по продукту «Альфа-Банка»</p>
                        <span><img src="/img/clock.svg" alt="">12 февраля 2021</span>
                    </div>
                </div>
                <div class="article-item">
                    <div class="article-item__header"><img src="/img/article-item_3.svg" alt=""></div>
                        <div class="cat_markers">
                        <div class="cat_marker__item red">Менеджмент</div>
                    </div>
                    <div class="article-item__content">
                        <h2 class="h2">8 лайфхаков для запуска продукта паралельно работе</h2>
                        <p>Как запустить свой продукт, если с 9 до 6 ты на работе? Рассказывает директор по продукту «Альфа-Банка»</p>
                        <span><img src="/img/clock.svg" alt="">12 февраля 2021</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>