<section class="collection">
    <div class="container">
       <div class="collection_wrapper collection-1">
            <div class="row  mr-0 ml-0">
               <div class="col-md-6 col-lg-6 order-lg-2">
                   <div class="collection-2__image">
                       <img src="/img/collect.svg" alt="">
                   </div>
               </div>
               <div class="col-md-6 col-lg-6  order-lg-1">
                   <div class="collection__text">
                       <h2 class="h2">Получи подборку<br> курсов <span>бесплатно</span></h2>
                       <p class="lead-text">Умные алгоритмы подберут курсы, вебинары и статьи под твои интересы</p>
                       <a href="" class="button_primary">Получить бесплатно</a>
                   </div>
               </div>
           </div>
       </div>
   </div>
</section>