<div class="go-buttons">
  <div class="go-buttons__main">
    <div class="container">
      <ul class="go-buttons__list">
        <li class="go-buttons__item go-buttons__item_1">
          <a href="#" class="go-buttons__link">Все курсы</a>
        </li>
        <li class="go-buttons__item go-buttons__item_2">
          <a href="#" class="go-buttons__link">Построить траекторию</a>
        </li>
        <li class="go-buttons__item go-buttons__item_3">
          <a href="#" class="go-buttons__link">Разместить курс</a>
        </li>
      </ul>
    </div>
  </div>
</div>

