<section class="go-to-buttons">
    <div class="container d-none d-md-block d-lg-block">
        <div class="row">
            <div class="col-4">
                <a href="/course" class="btn_to_chapter">Все курсы</a>
            </div>
            <div class="col-4">
                <a href="/course" class="btn_to_chapter">Построить траекторию</a>
            </div>
            <div class="col-4">
                <a href="/course" class="btn_to_chapter">Разместить курс</a>
            </div>
        </div>
    </div>
</section>