<section class="first-block">
  <div class="first-block__main">
    <div class="container first-block__cont">
      <div class="first-block__points points-main">
        <div class="points-main__row">
          <div class="points-main__content points-content">
            <div class="points-content__titles">
              <div class="points-content__title _active">
                <p>Проходи курсы,</p>
              </div>
              <div class="points-content__title">
                <p>обучай студентов,</p>
              </div>
              <div class="points-content__title">
                <p>строй траекторию</p>
              </div>
            </div>
            <span>на одной платформе</span>
            <div class="points-content__texts">
              <div class="points-content__text text_1 _active">
                Проходите актуальные курсы, прокачивайтесь и отслеживайте свой
                прогресс в личном кабинете
              </div>
              <div class="points-content__text text_2">
                Бесплатно размещай свои курсы и делись своими знаниями с большим
                количетсвом слушателей!
              </div>
              <div class="points-content__text text_3">
                Выбери профессию своей мечты, построй поэтапный план по ее
                достижению и иди к своей цели!
              </div>
            </div>
          </div>
          <div class="points-main__images">
            <img
              src="../img/points_img-1.png"
              alt="cource-image"
              class="points-main__image image_1 _active"
            />
            <img
              src="../img/points_img-2.png"
              alt="cource-image"
              class="points-main__image image_2"
            />
            <img
              src="../img/points_img-3.png"
              alt="cource-image"
              class="points-main__image image_3"
            />
          </div>
        </div>
      </div>

      <div class="first-block__points_mobile points-main_mobile">
        <!-- Оболочка слайдера -->
        <div class="points-main_mobile__slider swiper">
          <!-- Двигающееся часть слайдера -->
          <div class="points-main_mobile__wrapper swiper-wrapper">
            <!-- Слайд -->
            <div class="points-main_mobile__slide swiper-slide">
              <div class="swiper-slide__title">
                Все онлайн курсы
                <span class="swiper-slide__title_yellow">в одном весте!</span>
              </div>
              <div class="slide-main">
                <div class="swiper-slide__image swiper-slide__image_1">
                  <img src="../img/points_img-1.png" alt="image mobile 1" />
                </div>
                <div class="swiper-slide__text">
                  Проходите актуальные курсы, прокачивайтесь и отслеживайте свой
                  прогресс в личном кабинете
                </div>
              </div>
              <div class="swiper-slide__lin">
                <a href="#" class="swiper-slide__link">Все курсы</a>
              </div>
            </div>

            <div class="points-main_mobile__slide swiper-slide">
              <div class="swiper-slide__title">
                Достигни своей карьерной цели вместе с
                <span class="swiper-slide__title_yellow">EdTreck</span>
              </div>
              <div class="slide-main">
                <div class="swiper-slide__image swiper-slide__image_2">
                  <img src="../img/points_img-2.png" alt="image mobile 1" />
                </div>
                <div class="swiper-slide__text">
                  Выбери профессию своей мечты, построй поэтапный план по ее
                  достижению и иди к своей цели!
                </div>
              </div>
              <div class="swiper-slide__lin">
                <a href="#" class="swiper-slide__link">Построить траекторию</a>
              </div>
            </div>

            <div class="points-main_mobile__slide swiper-slide">
              <div class="swiper-slide__title">
                Делись своими знаниями с другими!
              </div>
              <div class="slide-main">
                <div class="swiper-slide__image swiper-slide__image_3">
                  <img src="../img/points_img-3.png" alt="image mobile 3" />
                </div>
                <div class="swiper-slide__text">
                  Бесплатно размещай свои курсы и делись своими знаниями с
                  большим количетсвом слушателей!
                </div>
              </div>
              <div class="swiper-slide__lin">
                <a href="#" class="swiper-slide__link">Разместить курс</a>
              </div>
            </div>
          </div>
          <!-- Если нужна пагинация -->
          <div class="swiper-pagination"></div>
          <!-- Если нужна навигация (влево/вправо) -->
          <!-- <button type="button" class="swiper-button-prev"></button>
          <button type="button" class="swiper-button-next"></button> -->
          <!-- Если нужен скролбар -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>
