<div class="partner">
  <div class="partners__main">
    <div class="container">
      <div class="courses__title">
        <form class="courses__title_form" action="#">
          <p class="courses__title_text">Наши партнеры</p>
        </form>
      </div>
    </div>
  </div>

  <div class="partners__main" >
    <div class="container con--p">
      <!-- Оболочка слайдера -->
      <div class="partners__slider swiper" style="--swiper-navigation-size: 56px;">
        <!-- Двигающееся часть слайдера -->
        <div class="partners__wrapper swiper-wrapper">
          <!-- Слайд -->
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/engleks.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/xyz.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/geekbrains.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/umskul.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/superjob.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
          <div class="partners__slide swiper-slide">
            <div class="partner__img">
              <a class="partner__link" href="#">
                <img src="/img/tetrika.png" />
              </a>
              <a class="partner__link-mob" href="#">
                <img src="/img/engleks-mob.png" />
              </a>
            </div>
            <div class="partner__text">XYZ School</div>
          </div>
        </div>
        <!-- Если нужна пагинация -->
        <!-- <div class="swiper-pagination"></div> -->
        <!-- Если нужна навигация (влево/вправо) -->
        <button type="button" class="swiper-button-prev"></button>
        <button type="button" class="swiper-button-next"></button>
        <!-- Если нужен скролбар -->
        <!-- <div class="swiper-scrollbar"></div> -->
      </div>
    </div>
  </div>
</div>
