<section class="subscriber">
    <div class="container">
        <div class="row subscriber__inner mr-0 ml-0">
            <div class="col-md-12 col-lg-6">
                <div class="panel-text">
                    <h2 class="h2">Подпишись на наши новости</h2>
                    <p>Чтобы не пропускать выход новых курсов, а также получать персональную подборку курсов и вебинаров каждую неделю</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="panel-form">
                    <form class="form-subscriber form-inline">
                        <div class="form-group">
                            <label for="subscriberEmail" class="sr-only">Email</label>
                            <input type="email" class="form-control" id="subscriberEmail" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="button_primary">Подписаться</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
