<section class="course-section programm-viewer">
    <h2 class="h3">Программа обучения</h2>
    <ol>
        <li>
            <h3>Основы менеджмента проектов</h3>
            <p>Студенты смогут составить подробный план проекта с учетом сроков и разберутся в принципах организации закупочных мероприятий.</p>
        </li>
        <li>
            <h3>Основы менеджмента проектов</h3>
            <p>Студенты научатся формировать бюджет проекта и оценивать риски. Кроме того, они разберутся, как эффективно управлять командой и освоят таск-трекеры, электронную почту и другие инструменты.</p>
        </li>
        <li>
            <h3>Основы менеджмента проектов</h3>
            <p>Студенты смогут составить подробный план проекта с учетом сроков и разберутся в принципах организации закупочных мероприятий.</p>
        </li>
        <li>
            <h3>Основы менеджмента проектов</h3>
            <p>Студенты смогут составить подробный план проекта с учетом сроков и разберутся в принципах организации закупочных мероприятий.</p>
        </li>
    </ol>
</section>