<section class="course-section skills-viewer">
    <h2 class="h3">Знания и навыки, которые приобретете</h2>
    <ul class="tags-items">
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
        <li class="orange-item">Работа с гипотезами</li>
        <li class="orange-item">Adobe Photoshop</li>
        <li class="orange-item">Бизнес-модель</li>
    </ul>
</section>