<section class="course-section soft-viewer">
    <h2 class="h3">Инструменты и программы</h2>
    <ul class="tags-items">
        <li class="green-item">Figma</li>
        <li class="green-item">Axure</li>
        <li class="green-item">Adobe Photoshop</li>
        <li class="green-item">Figma</li>
        <li class="green-item">Axure</li>
        <li class="green-item">Adobe Photoshop</li>
        <li class="green-item">Figma</li>
        <li class="green-item">Axure</li>
        <li class="green-item">Adobe Photoshop</li>
        <li class="green-item">Figma</li>
        <li class="green-item">Axure</li>
        <li class="green-item">Adobe Photoshop</li>
    </ul>
</section>