<section class="course-section teacher-viewer">
    <h2 class="h3">Преподаватели</h2>
    <ul>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
        <li>
            <img src="/img/teacher-photo.png" alt="">
            <h4 class="h5">Дмитрий Зборовский</h4>
            <p>Директор по аналитике «Сбермаркета»</p>
        </li>
    </ul>
</section>