<section class="course-section testimon-viewer">
    <h2 class="h3">Отзывы</h2>
    <ul class="testimonials-items">
        <li>
            <img src="/img/reviewer-photo.png" alt="">
            <b>Алексей Сотников</b>
            <span class="user-rating-icon" style="background-image: url(/img/star.png);">4,6</span>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона. Давно выяснено, что при оце... Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
            <a href="#">Читать целиком</a>
            <span class="date_comment">20.03.2021</span>
        </li>
        <li>
            <img src="/img/reviewer-photo.png" alt="">
            <b>Алексей Сотников</b>
            <span class="user-rating-icon"  style="background-image: url(/img/star.png);">4,6</span>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.  Давно выяснено, что при оце... Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
            <a href="#">Читать целиком</a>
            <span class="date_comment">20.03.2021</span>
        </li>
        <li>
            <img src="/img/reviewer-photo.png" alt="">
            <b>Алексей Сотников</b>
            <span class="user-rating-icon"  style="background-image: url(/img/star.png);">4,6</span>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона.  Давно выяснено, что при оце... Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться</p>
            <a href="#">Читать целиком</a>
            <span class="date_comment">20.03.2021</span>
        </li>
    </ul>
    <a href="" id="view-more" class="view-more">Смотреть ещё</a>
</section>