<header>
  <div class="sah-hed__wrapper" id="navbar_top">
    <div class="container-ac">
      <div class="sah-hed__row">
        <div class="sah-hed__logo">
          <a href="">
            <img src="/img/sahalin-logo.png" alt="" />
          </a>
        </div>
        <div class="sah-hed__btns">
          <a href="">Вакансии</a>
          <a href="">Анкеты</a>
          <a href="">Курсы</a>
          <a href="">Компании</a>
          <a href="">Помощь</a>
        </div>
        <div class="sah-hed__account">
          <a href="">
            <img src="/img/like-sahalin.svg" alt="" />
          </a>
          <a href="">
            <img src="/img/person-sahalin.svg" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
