<div class="top-line collapse" id="navbar_top">
  <div class="container">
    <div class="row top-line__row">
      <div class="col-lg-12 col__row">
        <ul class="top-line__list">
          <li class="top-line__item">
            <a class="top-line__link" href="/">Траектория</a>
          </li>
          <li class="top-line__item">
            <a class="top-line__link" href="/site/about">О нас</a>
          </li>
          <li class="top-line__item">
            <a class="top-line__link" href="/site/land-teachers"
              >Преподавателям</a
            >
          </li>
          <li class="top-line__item">
            <a class="top-line__link" href="/course">Курсы</a>
          </li>
          <li class="top-line__item">
            <a class="top-line__link" href="/vebinar">Вебинары</a>
          </li>
          <li class="top-line__item">
            <a class="top-line__link" href="/site/contacts">Контакты</a>
          </li>
          <li>
            <div class="btns-wrapper">
              <a href="/course/publish" class="btn-place">Разместить курс</a>
              <a href="/site/login" class="sign-icon">
                <svg
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <circle
                    cx="12"
                    cy="9"
                    r="2"
                    stroke="white"
                    stroke-width="2"
                  ></circle>
                  <path
                    d="M17 19C17 16.2386 14.7614 14 12 14C9.23858 14 7 16.2386 7 19"
                    stroke="white"
                    stroke-width="2"
                  ></path>
                  <circle
                    cx="12"
                    cy="12"
                    r="9"
                    stroke="white"
                    stroke-width="2"
                  ></circle>
                </svg>
                <span>Войти</span>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>