<div class="course_item">
  <div class="course_item__header">
    <div class="course_item__elements">
      <img src="/img/icon_skillbox.svg" class="course-logo" alt="" />

      <button
        class="btn_course"
        data-container="body"
        data-toggle="popover"
        data-placement="top"
        data-content="Убрать из избанного"
        data-color="primary"
      >
        <img src="/img/icon_unfavorite.svg" class="course-rating" alt="" />
      </button>
      <button
        class="btn_course d-none"
        data-container="body"
        data-toggle="popover"
        data-placement="top"
        data-content="Добавить в сравнение"
        data-color="primary"
      >
        <img src="/img/icon_grafic.svg" class="course-compare" alt="" />
      </button>
      <button
        class="btn_course d-none"
        data-container="body"
        data-toggle="popover"
        data-placement="top"
        data-content="Добавить в избранное"
        data-color="primary"
      >
        <img src="/img/icon_favorite.svg" class="course-favorite" alt="" />
      </button>
    </div>
    <img src="/img/course_header_1.svg" alt="" />
    <div class="cat_markers">
      <div class="cat_marker__item red">Менеджмент</div>
      <div class="cat_marker__item green">Популярное</div>
      <div class="cat_marker__item green">Скидка 50%</div>
    </div>
  </div>
  <div class="course_item__content">
    <div class="course_item__title">Факультет</div>
    <div class="course_item__name">
      Управление очень очень очень очень очень очень очень очень очень сложными
      проектами
    </div>
    <ul class="block_feature">
      <li class="icon_primary_level">Начальный уровень</li>
      <li class="icon_mentor">Наставник: Ecть</li>
      <li class="icon_certificat">Сертификат: Ecть</li>
    </ul>
    <div class="course_item__info">
      <div class="info_block">
        <div class="info_block__title">Длительность</div>
        <div class="info_block__value">1,2 года</div>
      </div>
      <div class="info_block">
        <div class="info_block__title">Стоимость</div>
        <div class="info_block__value">
          <span>120 000 р.</span> <strike>120 000 р.</strike>
        </div>
      </div>
    </div>
    <div class="btn_action">
      <a href="" class="btn-details">Подробнее</a>
      <a href="" class="btn-place">Записаться</a>
    </div>
  </div>
</div>
