<div class="course_item course_simple">
    <div class="course_item__header">
        <div class="course_item__elements">
            <img src="/img/icon_skillbox.svg" class="course-logo" alt="">
            <!-- <img src="img/icon_rating.svg" class="course-rating"  alt="">
            <img src="img/icon_unfavorite.svg" class="course-rating"  alt=""> -->
            <span class="course_status status_process">В процессе</span>
            <span class="course_status status_complete">Завершен</span>
            <span class="course_status status_plan">Запланировано</span>
        </div>
        <img src="/img/course_header_1.svg" alt="">

    </div>
    <div class="course_item__content">
        <div class="course_item__title">Skillbox</div>
        <div class="course_item__name">Управление очень очень очень очень очень очень очень очень очень  сложными проектами</div>

        <div class="course_item__info">
            <div class="info_block">
                <div class="info_block__title">Средняя оценка</div>
                <div class="info_block__value">4/5</div>
            </div>
            <div class="info_block">
                <div class="info_block__title">Прогресс</div>
                <div class="info_block__value">14/30 уроков</div>
            </div>
        </div>
        <div class="btn_action">
            <a href="" class="btn-details">Подробнее</a>
            <!-- <a href=""  class="btn-place">Редактировать</a> -->
        </div>
    </div>
</div>