<div class="courses">
  <div class="courses__main">
    <div class="container">
      <div class="courses__title">
        <form class="courses__title_form" action="#">
          <p class="courses__title_text">Популярные курсы</p>
          <button type="button" class="courses__title_btn">
            Перейти в раздел
          </button>
          <button type="button" class="courses__title_btn_mobile">
            <img src="../../../img/title.svg" alt="arrow" />
          </button>
        </form>
      </div>
    </div>

    <div class="courses__main">
      <div class="container con--p">
        <!-- Оболочка слайдера -->
        <div
          class="courses__swiper swiper"
          style="--swiper-navigation-size: auto"
        >
          <!-- Двигающееся часть слайдера -->
          <div class="courses__wrapper swiper-wrapper">
            <!-- Слайд -->
            <div class="courses__slide swiper-slide">
              <div class="swiper-slide__main slide-body">
                <div class="slide-body__top">
                  <div class="slide-body__top_row">
                    <a href="#" class="slide-body__form_logo">
                      <img src="../../../img/icon_skillbox.svg" alt="" />
                    </a>
                    <a href="#" class="slide-body__form_favorite">
                      <img src="../../../img/unfavorite.svg" alt="" />
                    </a>
                  </div>
                  <div class="slide-body__top_span">
                    <p>Популярное</p>
                  </div>
                </div>
                <div class="slide-body__content slide-content">
                  <div class="slide-content__main">
                    <div class="slide-content__subtitle">Skillbox</div>
                    <a href="#" class="slide-content__title"
                      >Управление проектами</a
                    >

                    <div class="slide-content__info">
                      <p class="slide-content__info_1">Начальный уровень</p>
                      <p class="slide-content__info_2">
                        Наставник: <span>Есть</span>
                      </p>
                      <p class="slide-content__info_3">
                        Сертификат: <span>Есть</span>
                      </p>
                    </div>
                    <div class="slide-content__price">
                      <div class="slide-content__price_price">120 000 ₽</div>
                      <div class="slide-content__price_period">1,2 года</div>
                    </div>
                  </div>
                  <a href="#" class="slide-content__go_btn">
                    Перейти на Skillbox
                  </a>
                </div>
              </div>
            </div>
            <div class="courses__slide swiper-slide">
              <div class="swiper-slide__main slide-body">
                <div class="slide-body__top">
                  <div class="slide-body__top_row">
                    <a href="#" class="slide-body__form_logo">
                      <img src="../../../img/icon_skillbox.svg" alt="" />
                    </a>
                    <a href="#" class="slide-body__form_favorite">
                      <img src="../../../img/unfavorite.svg" alt="" />
                    </a>
                  </div>
                  <div class="slide-body__top_span">
                    <p>Популярное</p>
                  </div>
                </div>
                <div class="slide-body__content slide-content">
                  <div class="slide-content__main">
                    <div class="slide-content__subtitle">Skillbox</div>
                    <a href="#" class="slide-content__title"
                      >Управление проектами</a
                    >

                    <div class="slide-content__info">
                      <p class="slide-content__info_1">Начальный уровень</p>
                      <p class="slide-content__info_2">
                        Наставник: <span>Есть</span>
                      </p>
                      <p class="slide-content__info_3">
                        Сертификат: <span>Есть</span>
                      </p>
                    </div>
                    <div class="slide-content__price">
                      <div class="slide-content__price_price">120 000 ₽</div>
                      <div class="slide-content__price_period">1,2 года</div>
                    </div>
                  </div>
                  <a href="#" class="slide-content__go_btn">
                    Перейти на Skillbox
                  </a>
                </div>
              </div>
            </div>
            <div class="courses__slide swiper-slide">
              <div class="swiper-slide__main slide-body">
                <div class="slide-body__top">
                  <div class="slide-body__top_row">
                    <a href="#" class="slide-body__form_logo">
                      <img src="../../../img/icon_skillbox.svg" alt="" />
                    </a>
                    <a href="#" class="slide-body__form_favorite">
                      <img src="../../../img/unfavorite.svg" alt="" />
                    </a>
                  </div>
                  <div class="slide-body__top_span">
                    <p>Популярное</p>
                  </div>
                </div>
                <div class="slide-body__content slide-content">
                  <div class="slide-content__main">
                    <div class="slide-content__subtitle">Skillbox</div>
                    <a href="#" class="slide-content__title"
                      >Управление проектами</a
                    >

                    <div class="slide-content__info">
                      <p class="slide-content__info_1">Начальный уровень</p>
                      <p class="slide-content__info_2">
                        Наставник: <span>Есть</span>
                      </p>
                      <p class="slide-content__info_3">
                        Сертификат: <span>Есть</span>
                      </p>
                    </div>
                    <div class="slide-content__price">
                      <div class="slide-content__price_price">120 000 ₽</div>
                      <div class="slide-content__price_period">1,2 года</div>
                    </div>
                  </div>
                  <a href="#" class="slide-content__go_btn">
                    Перейти на Skillbox
                  </a>
                </div>
              </div>
            </div>
            <div class="courses__slide swiper-slide">
              <div class="swiper-slide__main slide-body">
                <div class="slide-body__top">
                  <div class="slide-body__top_row">
                    <a href="#" class="slide-body__form_logo">
                      <img src="../../../img/icon_skillbox.svg" alt="" />
                    </a>
                    <a href="#" class="slide-body__form_favorite">
                      <img src="../../../img/unfavorite.svg" alt="" />
                    </a>
                  </div>
                  <div class="slide-body__top_span">
                    <p>Популярное</p>
                  </div>
                </div>
                <div class="slide-body__content slide-content">
                  <div class="slide-content__main">
                    <div class="slide-content__subtitle">Skillbox</div>
                    <a href="#" class="slide-content__title"
                      >Управление проектами</a
                    >

                    <div class="slide-content__info">
                      <p class="slide-content__info_1">Начальный уровень</p>
                      <p class="slide-content__info_2">
                        Наставник: <span>Есть</span>
                      </p>
                      <p class="slide-content__info_3">
                        Сертификат: <span>Есть</span>
                      </p>
                    </div>
                    <div class="slide-content__price">
                      <div class="slide-content__price_price">120 000 ₽</div>
                      <div class="slide-content__price_period">1,2 года</div>
                    </div>
                  </div>
                  <a href="#" class="slide-content__go_btn">
                    Перейти на Skillbox
                  </a>
                </div>
              </div>
            </div>
            <div class="courses__slide swiper-slide">
              <div class="swiper-slide__main slide-body">
                <div class="slide-body__top">
                  <div class="slide-body__top_row">
                    <a href="#" class="slide-body__form_logo">
                      <img src="../../../img/icon_skillbox.svg" alt="" />
                    </a>
                    <a href="#" class="slide-body__form_favorite">
                      <img src="../../../img/unfavorite.svg" alt="" />
                    </a>
                  </div>
                  <div class="slide-body__top_span">
                    <p>Популярное</p>
                  </div>
                </div>
                <div class="slide-body__content slide-content">
                  <div class="slide-content__main">
                    <div class="slide-content__subtitle">Skillbox</div>
                    <a href="#" class="slide-content__title"
                      >Управление проектами</a
                    >

                    <div class="slide-content__info">
                      <p class="slide-content__info_1">Начальный уровень</p>
                      <p class="slide-content__info_2">
                        Наставник: <span>Есть</span>
                      </p>
                      <p class="slide-content__info_3">
                        Сертификат: <span>Есть</span>
                      </p>
                    </div>
                    <div class="slide-content__price">
                      <div class="slide-content__price_price">120 000 ₽</div>
                      <div class="slide-content__price_period">1,2 года</div>
                    </div>
                  </div>
                  <a href="#" class="slide-content__go_btn">
                    Перейти на Skillbox
                  </a>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="swiper-button-prev"></button>
          <button type="button" class="swiper-button-next"></button>

        </div>
      </div>
    </div>
  </div>
</div>
