<div class="admin__side-bar admin-bar">
  <div class="admin-bar__main">
    <ul class="admin-bar__list main__text">
      <li class="admin-bar__item">
        <a href="/admin.html" class="admin-bar__link">Главная</a>
      </li>
      <li class="admin-bar__item">
        <a href="admin-companies.html" class="admin-bar__link">Компании</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Преподаватели</a>
      </li>
      <li class="admin-bar__item">
        <a href="admin-courses.html" class="admin-bar__link">Курсы</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Вебинары</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Чат</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Договоры</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Выплаты</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Профессии</a>
      </li>
      <li class="admin-bar__item">
        <a href="#" class="admin-bar__link">Пользователи</a>
      </li>
    </ul>
  </div>
</div>
