<div class="side_block block_details">
    <img src="/img/course/course-preview.svg" alt="">
    <ul class="block_feature">
        <li class="icon_primary_level">Начальный уровень</li>
        <li class="icon_mentor">Наставник: Ecть</li>
        <li class="icon_certificat">Сертификат: Ecть</li>
        <li class="icon_format">Формат: Онлайн</li>
        <li class="icon_credit">Рассрочка: Есть</li>
        <li class="icon_language">Язык: Русский</li>
        <li class="icon_place">Осталось мест: 15</li>
    </ul>
    <ul class="block_info">
        <li><span>Начало курса</span><br><b>26 апреля 2021</b></li>
        <li><span>Длительность</span><br><b>2 года</b></li>
        <li><span>Стоимость</span><br><b>120 000 ₽</b></li>
        <li class="promotion">Записываясь на данный курс, Вы получаете 15% кэшбек на следующую покупку на Edwica</li>
    </ul>
    <a class="enroll_to_course button_enroll"  href="">Записаться</a>
</div>