<div class="side_block block_details">
    <img src="/img/ava_teacher.jpg" alt="">
    <div class="teacher__fio">
        <h4 class="h4">Александр Александрович Тихонов</h4>
    </div>
    <ul class="block_feature">
        <li class="icon_phone"><a href="tel:8 800 700-68-41">8 800 700-68-41</a></li>
        <li class="icon_email"><a href="email:support@geekbrains.ru">support@geekbrains.ru</a></li>
        <li class="icon_language">Ленинградский просп., 39, стр. 80</li>
    </ul>
    <a class="enroll_to_course btn-place go" target="_blank" href=" https://ad.admitad.com/g/k3dfvevwit5c7b3c0f8f65a37ca03d">Перейти на сайт
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M6 18L18 6M18 6H6M18 6V18" stroke="#966CEE" stroke-width="2"></path>
        </svg>
    </a>
</div>