<div class="side_block block_details">
    <img src="/img/vebinar-default.svg" alt="">
    <ul class="block_feature">
        <li class="icon_credit">Рассрочка: Есть</li>
        <li class="icon_language">Язык: Русский</li>
        <li class="icon_place">Осталось мест: 15</li>
    </ul>
    <ul class="block_info">
        <li>
            <span>Время проведения</span><br>
            <b>16 мая 2020</b>
            <p class="spend-time">16:00-18:30<span class="timezone">MSC (UTC +3)</span></p>
        </li>
        <li><span>Стоимость</span><br><b>120 000 ₽</b></li>
        <li>Записываясь на данный вебинар, Вы получаете 15% кэшбек на следующую покупку на Edwica</li>
    </ul>
    <a class="enroll_to_course button_enroll"  href="">Записаться</a>
</div>